{% extends 'audio/main.html' %}
{% block content %}
<div class="header-bar">
    <div>
        <h3>PodCast Item Form</h3>
    </div>
    <a href="{% url 'podcast-list' %}">Go back</a>
</div>
<div class="createform">
    <form method="POST" action="">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <div class="createforminput">
            <input class="createforminputbutton" type="submit" value="Submit">
        </div>
        
    </form>
</div>
{% endblock content %}